  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Myeongjo', serif;
}
$mainColors:linear-gradient(116deg,#91f1c18e,transparent);
$titleColor:linear-gradient(35deg,#2b2f70,#1c2186,#4d518f);
@media screen and (width >= 1920px) {
    

.container{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    border-radius: 3vmax;
    border-block-start: 1.5vmax solid;
    border-inline-start: 1vmax solid;
    border-image-source: $mainColors;
    border-image-slice: 1;
    & .title{
        background-image: $titleColor;
        background-size: 200%;
        opacity: 0;
        -webkit-background-clip: text;
       color: transparent;
       animation: title-gradient 10s linear infinite alternate,
                           show-titles 2s  cubic-bezier(.96,-0.26,.25,.58) 2s 1 forwards
       ;
        position: absolute;
        margin: 0.5vmax;
        left: 31vw;
        top: 1vh;
        font-size: 8vw;
        text-shadow: 5px 0 2px #3d4072d5;
        letter-spacing: 1.5vw;
        font-style: italic;
        &::first-letter{
            font-size: 9vw;
        }
    }
    & .link-title{
        background-image: $titleColor;
        background-size: 200%;
        -webkit-background-clip: text;
        opacity: 0;
       color: transparent;
       animation: title-gradient 6s infinite alternate,
       show-titles 2s  cubic-bezier(.96,-0.26,.25,.58) 3s 1 forwards;
       ;
        position: absolute;
        margin: 1vmax;
        left: 14vw;
        top: 15vh;
        font-size: 4vw;
        text-shadow: 3px 0 2px #3d4072d5;
        letter-spacing: 0.5vw;
        font-style: italic;
      
        &::first-letter{
            font-size: 5vw;
        }
    }
    & .bubble{
        position: absolute;
        left: 3vw;
        top: 18vh;
        width: 40vw;
        height: 65vh;
        border-radius: 43% 57% 50% 50% / 58% 52% 48% 42% ;
        animation: Rad 60s linear alternate infinite,
                             show-titles 2s cubic-bezier(.96,-0.26,.25,.58) 5s 1 forwards
        ;
        background-image: $mainColors;
        opacity: 0;
        &:last-of-type{
            left: 17vw;
            top: 38vh;
            scale: 0.3;
        }
    }
    & .ulist{
        list-style-type: none;
        position: absolute;
        left: 10vw;
        top: 30vh;
       & .litem{
            margin: 1vmax;
            opacity: 0;
           animation-name:show-titles;
           animation-duration: 2s;
           animation-timing-function: cubic-bezier(.96,-0.26,.25,.58);
           animation-iteration-count: 1;
           animation-fill-mode: forwards;
            &::marker{
                content: "L";
                margin: 1vmax;
                font-size: 1.5vw;
                font-style: italic;
                font-weight: 600;
                color: #323796;
                text-shadow: 0px 0px 2px #2936a7
                                     
                ;
            }
            & .links{
                font-size: 1.5vw;
                color: #2b2f70;
                text-decoration: none;
                background-image: linear-gradient(20deg,aliceblue,rgba(240, 248, 255, 0.596),transparent);
                border-radius: 100vmax;
                padding: 0.2vmax;
                margin: 0.5vmax;
                font-style: italic;
            }
       }
    }
    & .image{
        margin: 1vmax;
        width: 38vw;
        height: 40vh;
       background-image: url(./selfie.png);
       background-size: contain;
       background-repeat: no-repeat;
       offset-path: path("m 1841.1045,181.15708 c -149.063,41.62466 -20.5923,533.64047 -200.0401,601.5881 -56.6677,13.30675 -49.5267,-84.59256 -14.5992,-153.67118");
       offset-rotate: 0deg;
        animation: slidedown 4s 1 cubic-bezier(.96,-0.26,.25,.58) forwards;
    }
    & .img-title{
        position: absolute;
        margin: 0.5vmax;
        right: 13vw;
        bottom: 5vh;
        font-size: 1.5vw;
        opacity: 0;
        color: #2b2f70;
        text-shadow: 0px 0px 1.5px #0b1147;
        font-style: italic;
        animation: show-titles 2s  cubic-bezier(.96,-0.26,.25,.58) 4s 1 forwards;

        
    }
}
}
@media screen and (600px < width <1920px){
    .container{
        position: relative;
        min-height: 100vh;
        width: 100vw;
        overflow: hidden;
        border-radius: 3vmax;
        border-block-start: 1.5vmax solid;
        border-inline-start: 1vmax solid;
        border-image-source: $mainColors;
        border-image-slice: 1;
        & .title{
            background-image: $titleColor;
            background-size: 200%;
            -webkit-background-clip: text;
           color: transparent;
           opacity: 0;
           animation: title-gradient 10s infinite alternate,
           show-titles 2s  cubic-bezier(.96,-0.26,.25,.58) 2s 1 forwards;
            position: absolute;
            margin: 0.5vmax;
            left: 31vw;
            top: 1vh;
            font-size: 8vw;
            text-shadow: 5px 0 2px #3d4072d5;
            letter-spacing: 1.5vw;
            font-style: italic;
            &::first-letter{
                font-size: 9vw;
            }
        }
        & .link-title{
            background-image: $titleColor;
            background-size: 200%;
            -webkit-background-clip: text;
           color: transparent;
           opacity: 0;
           animation: title-gradient 6s infinite alternate,
           show-titles 2s  cubic-bezier(.96,-0.26,.25,.58) 3s 1 forwards;
            position: absolute;
            margin: 1vmax;
            left: 14vw;
            top: 15vh;
            font-size: 4vw;
            text-shadow: 3px 0 2px #3d4072d5;
            letter-spacing: 0.5vw;
            font-style: italic;
            &::first-letter{
                font-size: 5vw;
            }
        }
        & .bubble{
            position: absolute;
            left: 3vw;
            top: 18vh;
            width: 40vw;
            height: 65vh;
            opacity: 0;
            border-radius: 43% 57% 50% 50% / 58% 52% 48% 42% ;
            animation: Rad 60s linear alternate infinite,
            show-titles 2s cubic-bezier(.96,-0.26,.25,.58) 5s 1 forwards;
            background-image: $mainColors;
            &:last-of-type{
                left: 17vw;
                top: 38vh;
                scale: 0.3;
            }
        }
        & .ulist{
            list-style-type: none;
            position: absolute;
            left: 10vw;
            top: 30vh;
           & .litem{
                margin: 1.5vmax;
                opacity: 0;
                animation-name:show-titles;
                animation-duration: 2s;
                animation-timing-function: cubic-bezier(.96,-0.26,.25,.58);
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                &::marker{
                    content: "L";
                    margin: 1vmax;
                    font-size: 1.5vw;
                    font-style: italic;
                    font-weight: 600;
                    color: #323796;
                    text-shadow: 0px 0px 2px #2936a7
                                         
                    ;
                }
                & .links{
                    font-size: 1.5vw;
                    color: #2b2f70;
                    text-decoration: none;
                    background-image: linear-gradient(20deg,aliceblue,rgba(240, 248, 255, 0.596),transparent);
                    border-radius: 100vmax;
                    padding: 0.2vmax;
                    margin: 0.5vmax;
                    font-style: italic;
                }
           }
        }
        & .image{
            position: absolute;
            
            right: 1vw;
            bottom: 10vh;
            margin: 0.5vmax;
        width: 35vw;
        height: 55vh;
       background-image: url(./selfie.png);
       background-size: contain;
       background-repeat: no-repeat;
       offset-path: none;
        }
        & .img-title{
            position: absolute;
            margin: 0.5vmax;
            right: 13vw;
            bottom: 5vh;
            font-size: 1.5vw;
            color: #2b2f70;
            text-shadow: 0px 0px 1.5px #0b1147;
            font-style: italic;
            opacity: 0;
            animation: show-titles 2s  cubic-bezier(.96,-0.26,.25,.58) 4s 1 forwards;
        }
    }.image{
        margin: 1vmax;
        width: 38vw;
        height: 40vh;
       background-image: url(./selfie.png);
       background-size: contain;
       background-repeat: no-repeat;
       offset-path: path("m 1841.1045,181.15708 c -149.063,41.62466 -20.5923,533.64047 -200.0401,601.5881 -56.6677,13.30675 -49.5267,-84.59256 -14.5992,-153.67118");
       offset-rotate: 0deg;
        animation: slidedown 4s 1 cubic-bezier(.96,-0.26,.25,.58) forwards;
    }
}
@keyframes title-gradient{
    from{background-position: left;}
    to{background-position: right;}
}
@keyframes Rad {
    0%,100%{border-radius: 43% 57% 50% 50% / 58% 52% 48% 42% ;}
    25%{border-radius: 51% 49% 45% 55% / 58% 52% 48% 42% }
    50%{border-radius: 45% 55% 45% 55% / 62% 52% 48% 38% }
    75%{border-radius: 56% 44% 52% 48% / 62% 55% 45% 38% }
}
@keyframes slidedown {
    from {
        offset-distance: 0%;
        opacity: 0;
      }
      to {
        offset-distance: 100%;
        opacity: 1;
      }
}
@keyframes show-titles {
    to{opacity: 1;}
}
@for $i from 1 through 6 {
    .litem:nth-of-type(#{$i}) { animation-delay: calc(6s + (0.6s * $i));
    };
  }